<div id="most_significant_authors">
    <h3>Most significant authors</h3>
    <ul>
        {{#authors}}
          <li>{{> actor/minimal}} ({{modification_count}})</li>
        {{/authors}}
    </ul>
</div>
