<div id="most_significant_authors">
    <h3>Top authors by line changes</h3>
    <ul>
        {{#authors}}
          <li>{{> actor/minimal}} ({{modifications}} line changes)</li>
        {{/authors}}
    </ul>
</div>
