<div id="top_committers">
    <h3>Top authors by commits</h3>
    <table>
        {{#committers}}
          <tr class="{{even_odd}}">
              <th>{{> actor/minimal}}</th>
              <td>{{committer_commit_count}} commits</td>
          </tr>
        {{/committers}}
    </table>
</div>
